@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit-sans-serif);
  --color-*: initial;
  --color-black: #4D4D4D;
  --color-white: #ffffff;
  --color-pink: #FF6699;
  --color-blush-pink: #FCAFDB;
  --color-link-blue: #0000ff;
  --color-transparent: transparent;

  --text-*: initial;
  --text-paragraph: 1rem;
  --text-paragraph--font-weight: 200;
  --text-subheading: 1rem;
  --text-subheading--font-weight: 600;
  --text-heading: 1.75rem;
  --text-heading--font-weight: 200;
  --text-heading--line-height: 30px;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1280px;
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply text-black;
    font-family: "Outfit", Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }

  p,
  input,
  textarea,
  span {
    @apply text-paragraph;
  }

  a {
    @apply text-link-blue ease-in-out duration-300;
  }
}

/* spinner styles */

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #FF6699;
  animation: spin 1s linear infinite;
}

.spinner::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #FCAFDB;
  --swiper-pagination-bullet-inactive-color: #FCAFDB;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 100% !important;
  @apply bg-white/80;
  top: 22px !important;
  transition: all 0.2s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #FCAFDB;
  transition: color 0.2s ease;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-black/80;
}

.swiper-button-next:hover:after,
.swiper-button-prev:hover:after {
  color: #FF6699;
}

.swiper-button-next::after {
  content: "next";
}

.swiper-button-prev::after {
  content: "prev";
}